<%- include("../partials/header") %>

<div class="container text-center">
	<h1>Add New Comment to <%= campground.name %></h1>
</div>
<div class="row justify-content-center" >
	<form action="/campgrounds/<%= campground._id %>/comments" method="POST" style="width : 30%; margin: 18px auto;">
		<div class="form-group">
		  <textarea class="form-control" rows="3" placeholder="Text" name="comment[text]"></textarea>
		  <button class="btn btn-info btn-lg my-3 btn-block">Submit</button>
		</div>
		<a href="/campgrounds/<%= campground._id %>">Go back</a>
	</form>
</div>  


<%- include("../partials/footer") %>